@page
@model Twilight.Web.Pages.GameCreateModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Создание игры</h1>
</div>

<form method="post">
    Название игры: 
    <br /> <input asp-for="Name" />
    <br/>
    Список игроков (на отдельной строке): 
    <br /><textarea asp-for="PlayerList"> </textarea>
    <br /><input asp-for="AddToEightPlayers" id="check8"/> <label for="check8">Дополнить список игроков до восьми</label>
    <br /><input type="submit" value="Создать" />
</form>