@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <ul>
       <li><a asp-page="GameCreate">Создание игры</a></li>
   </ul>
</div>
