@using Twilight.Domain
<img src="/img/faction-icons/@(IdName).webp" style="max-height:2em; width:2em" />&nbsp;
@if (Selected)
{
   <b>@Faction.ToString()</b>
}
else if (StrikedOut)
{
    <s>@Faction.ToString()</s>
}
else
{
    @Faction.ToString()
}
 [<a href="@Faction.WikiLink">вики</a>]
 @if (ShowAllianceCard)
{
    <text>| [<a href="/img/faction-alliance-cards/@(IdName).jpg">карта альянса</a>]</text>
}
<br />
@code {
    [Parameter()]
    [EditorRequired]
    public Faction Faction { get; set; } = null!;

    [Parameter()]
    public bool StrikedOut {get;set;}

    [Parameter()]
    public bool Selected {get;set;}

    [Parameter()]
    public bool ShowAllianceCard { get; set; }

    public string IdName => Faction.Name.Replace(" ", "");
}